<div th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
    <aside class="sidebar">
        <h2 class="logo">Kapitan Kernel</h2>
        <nav class="main-nav">
            <ul>
                <li><a th:href="@{/dashboard}">Dashboard</a></li>
                <li><a th:href="@{/posts}">Posts</a></li>
                <li><a th:href="@{/categorias}">Categorías</a></li>
                <li><a th:href="@{/usuarios}">Usuarios</a></li>
                <li><a th:href="@{/tipos-de-usuario}">Roles de Usuario</a></li>
                <li><a th:href="@{/imagenes}">Imágenes</a></li>
            </ul>
        </nav>
    </aside>
</div>